body {  
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.calculator-grid {
    display: grid;
    background-color: #999;
} 

.calculator-grid button {
    font-size: 25px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'DM Mono', monospace;
} 

textarea {
  grid-column: span 4;
  font-family: 'DM Mono', monospace;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  border: none;
}

button:hover {
    background-color: #440b15;
    color: white;
    transition: 0.2s;
}